<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rjl.mapper.FriendsRequestMapper" >
  <resultMap id="FriendsRequestBaseResultMap" type="com.rjl.pojo.FriendsRequest" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="request_user_id" property="requestUserId" jdbcType="VARCHAR" />
    <result column="accept_user_id" property="acceptUserId" jdbcType="INTEGER" />
    <result column="requst_date_time" property="requstDateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>